#game-screen {
  border: 2px solid black;
  align-self: center;
  margin: auto;
  /* position: absolute; */
  align-items: center;
  background: #343a40;
  box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.2),
    12px 12px 0 0 rgba(0, 0, 0, 0.19);
}
body {
  background: #17a2b8;
}
.wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 97vh;
}

img {
  display: none;
}
