* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: rgba(211, 246, 219, 0.5);
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.row {
  all: initial;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
  min-height: 1px;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
  min-height: 1px;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

.typewriter {
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid black;
}

.typewriter2 {
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid black;
}

@keyframes erase {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.row {
  width: 100%;
}

.row.mainpage {
  display: flex;
  flex-direction: row;
  height: 100vh;
  /* overflow: hidden; */
  position: relative;
}

.row.mainpage .col-3.left {
  background: #264b70;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  float: left;
  padding: 0px;
  flex-direction: column;
  height: 100%;
}

.row.mainpage .col-3.right {
  background: #264b70;
  display: flex;
  flex-direction: column;
  height: 100%;
  float: right;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0px;
}

/* ################### LEFT ######################### */

#innerwrap {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.row.mainpage .col-3.left .row-1 {
  background: inherit;
  /* content: "\200b"; */
}

.row.mainpage .col-3.left .row-6 {
  background: inherit;
  text-align: center;
  /* display: block; */
  /* position: relative; */
  text-align: center;
}

.row.mainpage .col-3.left .row-6 img {
  height: 50%;
  margin-top: 5%;
  border-radius: 100%;
}

.row.mainpage .col-3.left .row-6 h1 {
  text-align: center;
  font-size: 3em;
  font-family: "Antic";
  font-weight: 1px;
  text-transform: uppercase;
  color: white;
  text-shadow: 3px 3px 1px #444444;
  /* background: inherit; */
}

.row.mainpage .col-3.left .row-4 .profileUL {
  background: #6bf8f5;
  /* background: rgba(255, 0, 0, 1); */
  /* background: #d3f6db; */
  background: #dd7373;
  margin: 15px 10px;
  padding: 5px;
  height: 100%;
  /* box-shadow: 2px 2px 2px 2px white; */
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
  font-family: "Alegreya-Sans-SC";
}

.row.mainpage .col-3.left .row-4 .profileUL li {
  margin: 5px 0;
  margin-left: 15px;
  list-style-type: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-family: "Alegreya-Sans-SC";
}

.row.mainpage .col-3.left .row-6 hr,
#leftend {
  /* all:unset; */
  border-width: 2px;
  border-color: white;
  width: 70%;
  margin: 5px;
  margin-right: auto;
  margin-left: auto;
  /* margin: 0 15px; */
}

.row.row.mainpage .col-3.left .contactdet {
  display: flex;
  flex-direction: column;
}

.row.row.mainpage .col-3.left .contactdet span {
  font-size: 1.15em;
  margin: 15px;
  text-transform: uppercase;
  font-family: "Lato";
  letter-spacing: -1px;
  color: wheat;
}

/* #################### Middle ###################### */

/* ################## Part - 1 #####################  */
.row.mainpage > .col-6 {
  background: rgba(211, 246, 219, 0.5);
  /*opacity: 0.5; */
  /* overflow: hidden; */
  background-attachment: fixed;
  position: absolute;
  left: 25%;
}

.sec-1,
.sec-2 {
  width: 100%;
  position: relative;
}
.heading {
  border-left: 10px solid rgba(255, 0, 0, 0.5);
  margin-bottom: 0;
}

.heading h1 {
  font-size: 12vh;
  text-align: left;
  font-family: "Lato";
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  margin-left: 20px;
  margin-bottom: 0;
  /* positon */
}

.sec-1 .mybox {
  margin: 20px;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  justify-content: space-around;
  border-radius: 0;
}

.sec-1 .mybox .img_container {
  margin: auto;
  margin-left: 10px;
  width: 33%;
}
.sec-1 .mybox img {
  float: left;
  height: auto;
  width: 100%;
}
.col-6 hr {
  margin-top: 0;
}

.sec-1 .mybox p {
  margin: 10%;
  font-size: 1em;
  width: 66%;
}

#hed2 {
  border-left: none;
}

.heading h2 {
  font-size: 2em;
  text-align: center;
  font-family: "Lato";
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  /* margin-left: 20px; */
  /* positon */
}

#smallhr {
  width: 30%;
  margin: auto;
  border-width: 4px;
  border-color: gray;
}

.sec-1 .mytable {
  /* width: 100%; */
  margin: 20px;
}

.sec-1 .mytable .stud {
  width: 100%;
  border: 1px solid black;
}

.sec-1 .hobbies {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.sec-1 .hobbies .col-4 {
  display: flex;
  flex-direction: column;
}

.sec-1 .hobbies .col-4 .hobbyitem {
  margin: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.sec-1 .hobbies .col-4 .hobbyitem img {
  height: auto;
  width: 100%;
  min-height: 500px;
  margin: auto;
  margin-bottom: 20px;
  /* border-radius: 1 00%; */
}

.sec-1 .card {
  background: rgba(211, 246, 219, 0.9);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.7), 0 8px 20px 0 rgba(0, 0, 0, 0.6);
  margin: 10px;
  border-radius: 0;
  /* color: white; */
  font-family: "Lato";
}

.sec-1 .card .card-body {
  background: white;
}
/* ################## Part - 2 #####################  */

.sec-2 .skillbox {
  margin: auto;
}
.sec-2 .skillbox h2 {
  border-left: 8px solid #5efc8d;
  border-bottom: 1px solid lightgray;
  margin-left: 3%;
}

.sec-2 .skillbox .skill {
  margin: auto;
  margin: 30px 5%;
  display: flex;
  flex-direction: row;
}

.sec-2 .skillbox h3 {
  border-left: 4px solid #8377d1;
  border-bottom: 1px solid lightgray;
  margin: auto;
  margin: 30px 0;
  margin-left: 5%;
}
.sec-2 .skillbox .skill h4 {
  /* border-bottom: 1px solid lightgrey; */
  margin: 15px;
}
.sec-2 #skillwrap {
  display: flex;
  flex-direction: column;
  width: 33%;
  text-align: center;
  align-items: center;
}
.sec-2 .skillbox .skill img {
  height: auto;
  width: 50%;
}

.sec-2 .progress {
  margin: 15px;
  height: 1vh;
  /* width: 100%; */
  margin: auto;
  background: white;
}

.sec-2 .progress .progress-bar {
  /* text-align: right; */
  color: white;
  font-weight: bold;
  align-self: center;
  position: relative;
}

.progress-circle::after {
  background: #343a40;
}
.progress-circle span {
  color: white;
}
/* 
.sec-2 .progress .progress-bar::before {
  content: "pp";
  position: absolute;
  right: 0;
  color: black;
  min-width: 2px;
  height: auto;
  border-radius: 100%;
  background: white;
}
 */

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
#skill2 h4,
#skill2 .progress {
  margin-left: 5%;
}

/* ##################### Part -3 ##################### */

.sec-3 .banner {
  background: url(images/banner.jpg);
  background-position: center;
  min-height: 200px;
  vertical-align: center;
  opacity: 0.8;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: row;
}

.banner span {
  text-align: center;
  display: block;
  margin: auto;
  width: 50%;
  font-size: 2em;
  color: white;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

#s1 {
  float: left;
  left: 50%;
}

#s2 {
  float: right;
}

/* ##################### Part -4 ##################### */

.sec-4 {
  position: relative;
}

.sec-4 .row {
  display: flex;
  flex-direction: row;
  margin-bottom: -15%;
}

.tree {
  display: flex;
  flex-direction: column;
}
.tree .level .col-7 {
  width: 54%;
}
.tree .level .col-5 {
  width: 46%;
}

.tree .level .col-7.left {
  background: url(images/treeleft.png);
  background-size: cover;
  float: left;
  min-height: 200px;
  min-width: 50%;
  position: relative;
  /* widows: 55%; */
}
.tree .level .col-7.left .info {
  background: wheat;
  margin: 5px;
  position: absolute;
  width: 40%;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.7), 0 8px 20px 0 rgba(0, 0, 0, 0.6);
  left: 30%;
  top: 40%;
}
.tree .level .col-7.right .info {
  background: wheat;
  margin: 5px;
  position: absolute;
  width: 40%;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.7), 0 8px 20px 0 rgba(0, 0, 0, 0.6);
  left: 40%;
  top: 40%;
}
.tree .level .col-7 .info p {
  margin: 5px;
}

.tree .level .col-7.right {
  background: url(images/treeright.png);
  float: right;
  min-height: 200px;
  min-width: 50%;
  position: relative;
  background-size: cover;
}

.row.last {
  margin-bottom: 0;
}
/* ##################### Part -5 ##################### */

.sec-5 .row {
  display: flex;
  flex-direction: row;
}

.sec-5 .row .card {
  margin: 20px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.7), 0 8px 20px 0 rgba(0, 0, 0, 0.6);
}

.sec-5 .row .card img {
  margin: 0;
  height: auto;
  width: 100%;
  /* margin-right: 20px; */
}

.invis {
  display: none;
}

/* ##################### Part -6 ##################### */

.sec-6 {
  position: relative;
}

.sec-6 #dabba {
  display: flex;
  flex-direction: row;
  margin: 10% 0;
}

.form-container {
  width: 50%;
  float: right;
  padding: 20px;
}

.form-container input {
  border-radius: 0;
  font-family: "Lato";
}

.sec-6 .sidebox {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 20px;
}

.sec-6 .sidebox div {
  margin: auto;
  margin-top: 0;
  text-align: center;
  background: #d3f6db;
  opacity: 1;
  text-align: center;
  padding: 10px;
}

.sec-6 .sidebox div h2 {
  font-size: 1em;
  font-family: "Lato";
  letter-spacing: 1px;
  text-transform: uppercase;
}

.sec-6 .sidebox div img {
  height: auto;
  width: 25%;
  margin: 10px;
}

/* ################## Right ######################### */

/* ###################### NAV ####################### */

.row.mainpage .col-3.right {
  display: flex;
  flex-direction: row;
}

.row.mainpage .col-3.right .col-6 {
  margin: 0;
  display: flex;
  flex-direction: column;
  background: inherit;
  position: relative;
  /* height: 100vh; */
  /* align-items: center; */
}

.row.mainpage .col-3.right .col-6 .mynav {
  /* grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  position: sticky;
  top: 0;
  grid-gap: 20px; */

  justify-content: space-evenly;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.7), 0 8px 20px 0 rgba(0, 0, 0, 0.6);
}

.row.mainpage .col-3.right .col-6 .mynav li {
  list-style-type: none;
  background: #6bf8f5;
  /* background: #d3f6db; */
  background: #dd7373;
}
.row.mainpage .col-3.right .col-6 .mynav li a {
  color: black;
  font-size: 1.2em;
  text-decoration: none;
  margin: auto;
  height: 100%;
  display: block;
  padding: 10px;
  text-align: center;
  /* vertical-align: middle; */
}

.row.mainpage .col-3.right .col-6 .mynav li a.current {
  background: #0f5257;
  color: white;
}

#empty {
  height: 0;
}
.social {
  text-align: center;
  position: relative;
}
.icon-bar {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #0f5257;
}

.facebook {
  background: #3b5998;
  color: white;
}

.twitter {
  background: #55acee;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.col-3.right .foot {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-family: "Lato";
  font-weight: 100;
}
/* BetaTes****** */
/* cbac8-7bd8c@alt.coms */

@media only screen and (max-width: 680px) {
  .row.mainpage .col-3.left {
    display: none;
  }
  .row.mainpage .col-3.right {
    display: none;
  }
  .row.mainpage .col-6 {
    width: 100%;
    position: unset;
  }

  .heading h1 {
    font-size: 5.5vh;
  }

  .hobbies {
    flex-direction: column !important;
  }

  .hobbies .col-4 {
    width: 100%;
    flex-direction: row !important;
  }
  .hobbies .col-4 .card {
    width: 50%;
  }

  .banner span {
    font-size: 1rem;
  }

  #lamba {
    font-size: 5.5vh;
  }

  .sec-5 .row {
    flex-direction: column !important;
  }

  .sec-5 .row .col-6 {
    width: 100%;
  }
  #dabba {
    flex-direction: column !important;
  }

  #dabba .form-container {
    width: 100%;
  }

  #dabba .sidebox {
    width: 100%;
  }

  .sidebox div {
    font-size: 0.75rem;
  }
}
